:root {
  
    --primaryColor:#b9c6d2;
    --secondaryColor:#d0dde9;
    --tertiaryColor:#edf0f8;

}

body{
    margin: 0;
    height: 100vh;
    background-color:var(--primaryColor);
    background: linear-gradient(180deg,var(--primaryColor),var(--secondaryColor),var(--tertiaryColor));
}

h1{
    text-align: center;
    font-size: 2rem;
}

@media (min-width:720px){
    h1{
        font-size: 2.4rem;
    }
}